In [2]:
import pandas as pd

In [10]:
fakefriendsdf = pd.read_csv("fakefriends.csv", names=["name", "age", "numFriends"], index_col=0)

In [13]:
fakefriendsdf = fakefriendsdf.sort_values(by=['age'])

In [14]:
fakefriendsdf

         name  age  numFriends
377   Beverly   18         418
439      Data   18         417
444     Keiko   18         472
115     Dukat   18         397
404    Kasidy   18          24
494    Kasidy   18         194
106   Beverly   18         499
341      Data   18         326
225      Elim   19         106
366     Keiko   19         119
21      Miles   19         268
133     Quark   19         265
54      Brunt   19           5
136      Will   19         335
409       Nog   19         267
492     Dukat   19          36
304      Will   19         404
52    Beverly   19         269
373     Quark   19         272
48        Nog   20           1
327    Julian   20          63
349    Kasidy   20         277
60     Geordi   20         100
73      Brunt   20         384
403    Weyoun   21         224
25        Ben   21         445
66     Geordi   21         477
244     Dukat   21         471
281      Worf   21          89
206      Will   21         491
..        ...  ...         ...
422       Ben   67         292
329     Dukat   67          35
177     Brunt   67         316
396     Keiko   67          38
233    Gowron   67          70
384    Martok   67         355
254      Ezri   67          79
356    Weyoun   67         149
163     Nerys   67         204
309    Geordi   67         153
4       Quark   68          21
428   Lwaxana   68         423
374       Nog   68         293
361      Worf   68         206
168    Martok   68         112
258      Worf   68         217
120  Jean-Luc   68         264
170  Jean-Luc   68         490
310       Odo   68         189
232      Worf   68         481
97      Nerys   69         361
354    Kasidy   69          15
487     Brunt   69         431
99      Keiko   69         491
253     Leeta   69         116
62      Keiko   69           9
383      Data   69         148
116       Ben   69          75
205      Morn   69         236
397     Quark   69         470

[500 rows x 3 columns]

In [16]:
fakefriendsdf.to_csv("fakefriendsordered.csv")