In [22]:
# %load spark-sql.py
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkConf, SparkContext
import collections

In [23]:
spark = SparkSession.builder.config("spark.sql.warehouse.dir", "file:///C:/temp").appName("SparkSQL").getOrCreate()

In [24]:
# Converts a line into a row object, RDD -> DataFrame, RDD of Row objects
def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), name=str(fields[1].encode("utf-8")), age=int(fields[2]), numFriends=int(fields[3]))

In [25]:
lines = spark.sparkContext.textFile("file:///home/dmadhok/spark_course/fakefriends.csv")
lines.take(5)

['0,Will,33,385',
 '1,Jean-Luc,26,2',
 '2,Hugh,55,221',
 '3,Deanna,40,465',
 '4,Quark,68,21']

In [26]:
people = lines.map(mapper)
people.take(5)

[Row(ID=0, age=33, name="b'Will'", numFriends=385),
 Row(ID=1, age=26, name="b'Jean-Luc'", numFriends=2),
 Row(ID=2, age=55, name="b'Hugh'", numFriends=221),
 Row(ID=3, age=40, name="b'Deanna'", numFriends=465),
 Row(ID=4, age=68, name="b'Quark'", numFriends=21)]

In [27]:
schemaPeople = spark.createDataFrame(people).cache()
schemaPeople.take(5)

[Row(ID=0, age=33, name="b'Will'", numFriends=385),
 Row(ID=1, age=26, name="b'Jean-Luc'", numFriends=2),
 Row(ID=2, age=55, name="b'Hugh'", numFriends=221),
 Row(ID=3, age=40, name="b'Deanna'", numFriends=465),
 Row(ID=4, age=68, name="b'Quark'", numFriends=21)]

In [28]:
# Temporary SQL table in memory called people that can we issue queries on
schemaPeople.createOrReplaceTempView("people")
schemaPeople.take(5)

[Row(ID=0, age=33, name="b'Will'", numFriends=385),
 Row(ID=1, age=26, name="b'Jean-Luc'", numFriends=2),
 Row(ID=2, age=55, name="b'Hugh'", numFriends=221),
 Row(ID=3, age=40, name="b'Deanna'", numFriends=465),
 Row(ID=4, age=68, name="b'Quark'", numFriends=21)]

In [29]:
# SQL can be run over DataFrames that have been registered as a table.

# People is the temporary table we created (schemaTable.createOrReplaceTempView), we're able to query on age
# because of how we built the rows above
teenagers = spark.sql("SELECT * FROM people WHERE age >= 13 AND age <= 19")

In [30]:
# The results of SQL queries are RDDs and support all the normal RDD operations.
for teen in teenagers.collect():
  print(teen)

Row(ID=21, age=19, name="b'Miles'", numFriends=268)
Row(ID=52, age=19, name="b'Beverly'", numFriends=269)
Row(ID=54, age=19, name="b'Brunt'", numFriends=5)
Row(ID=106, age=18, name="b'Beverly'", numFriends=499)
Row(ID=115, age=18, name="b'Dukat'", numFriends=397)
Row(ID=133, age=19, name="b'Quark'", numFriends=265)
Row(ID=136, age=19, name="b'Will'", numFriends=335)
Row(ID=225, age=19, name="b'Elim'", numFriends=106)
Row(ID=304, age=19, name="b'Will'", numFriends=404)
Row(ID=341, age=18, name="b'Data'", numFriends=326)
Row(ID=366, age=19, name="b'Keiko'", numFriends=119)
Row(ID=373, age=19, name="b'Quark'", numFriends=272)
Row(ID=377, age=18, name="b'Beverly'", numFriends=418)
Row(ID=404, age=18, name="b'Kasidy'", numFriends=24)
Row(ID=409, age=19, name="b'Nog'", numFriends=267)
Row(ID=439, age=18, name="b'Data'", numFriends=417)
Row(ID=444, age=18, name="b'Keiko'", numFriends=472)
Row(ID=492, age=19, name="b'Dukat'", numFriends=36)
Row(ID=494, age=18, name="b'Kasidy'", numFriends=194)

In [31]:
# Arguably more efficient. We can also use functions instead of SQL queries:

# Number of people with a given age
schemaPeople.groupBy("age").count().orderBy("age").show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

In [34]:
spark.stop()